/src/esp-12e-alexa-door-bell/secrets.h
/src/esp-12e-alexa-door-bell/config.h
/hardware/power-supply.ltspice.log
/hardware/power-supply.ltspice.op.raw
/hardware/power-supply.ltspice.raw
/hardware/esp-12e-alexa-door-bell.TinyCad.dsn.autosave
/bin
/hardware/power-supply.ltspice.plt
